@charset "utf-8";
* {margin: 0; padding: 0;}
.basic, .basic2{
    width: 100%;
    height: 200px;
    color: white;
    font-size: 4rem;
}
.swiper-slide.sec01{
    background-color: antiquewhite;
}
.swiper-slide.sec02{
    background-color: blue;
}
.swiper-slide.sec03{
    background-color: yellowgreen;
}
.swiper-slide.sec04{
    background-color: red;
}
.swiper-slide.sec05{
    background-color: blueviolet;
}