@charset "utf-8";
*{margin: 0; padding: 0; font-family: 'Black Han Sans', sans-serif;}
.nav1{display: flex; padding: 0 100px;}
.nav1 a{color: black; text-decoration: none;}
li{list-style-type: none; margin: 0 35px; height: 70px; line-height: 70px;}
h1{height: 70px; line-height: 70px;}
h2{font-size: 35px; font-weight: 1;}
.nav2{display: flex; width: 100%; padding: 0 200px; border-bottom: solid grey 1px;}
.box{display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center; border: solid black 4px; margin-top: 15px; margin-left: 100px;}
.button1{
    background-color: gray;
    width: 50px;
    height: 5px;
    display: block;
    margin: 0 10px;
    text-indent: -5000px;
    overflow: hidden;}
.kw{width: 20%; display: flex; flex-direction: column; height: 1500px; padding-left: 250px; margin-top: 15px;}
.kw1{display: block; width: 70px; height: 30px; line-height: 30px; border: solid black 1px; text-align: center; margin-left: 30px;}
.button{display: flex; justify-content: center; padding-top: 50px; margin-right: 0 auto}
.sec0{display: flex; width: 100%; justify-content: left;}
.sec1{width: 900px; height: 500px; border-bottom: solid gray 1px; text-align: left; margin-top: 30px;}
.sec2{display: flex; width: 900px; height: 250px; justify-content: left; padding-top: 50px; border-bottom: solid gray 1px;}
.sec1 p{font-size: 20px; padding-right: 700px; margin-top: 10px;}
.col{width: 80%; display: flex; flex-direction: column;}
.row{display: flex; padding-top: 40px;}
.row p{margin: 5px;}
.sec2 img{margin-left: 150px;}
.kw p{margin-top: 10px;}
.kw0{font-size: 25px;}