/* *{outline: solid red 1px;} */
.head{background-color:rgba(0, 0, 0, 0.6); align-items:flex-start; height: auto; min-height: 50px;}
.head button{display: block; position: absolute; right: 10px; top: 7px; background: none; border: none; color: rgb(184, 184, 184);}
.mheadtitle{display: block; position: absolute; left: 10px; top: 11px;}
.mheadtitle a{color: rgb(163, 163, 163);}
.mnav{display: block; position: relative; padding: 0 0 100px;  top: 50px; width: 100%; z-index: 10; border-top: solid gray 1px;}
.mmenu{display: flex; flex-direction: column; width: 80%; margin: 0 auto; margin-top: 20px;}
.mmenu a{color: white; height: 40px; line-height: 40px; border-bottom: solid gray 1px;}
.head span{font-size: 32px;}
.headinner{display: none;}
.logo{display: block; position:absolute; top: 12px; left: 50%; transform: translateX(-50%); width: 23px; height: 24px;}





.s1{background: white;}
.s1text{font-size: 20px; margin-top: 100px;}
.s1textbox{display: none;}
.s1textboxm{display: inline-block; color: rgb(109, 109, 109);}
.s1textboxm span{font-size: 30px; color: black;}
.line{border-top: none;}
.s1img{position:relative; display: block; margin: 0 auto; bottom: 0; width: 30vh; height: 70vh;}
.scroll{display: none;}


.s2{background-color: rgb(0, 0, 27);}
.s2left{display: none;}
.s2right{display: none;}
.s2mobile{display: flex; flex-direction: column; padding-top: 100px; margin: 0 auto;}
.s2mobile p{font-size: 2.4vh; font-weight: 200; padding-top: 50px; margin: 0 auto; text-align: center; width: 190px; color: rgb(255, 255, 255);}
.pro{top: 18%;}
.promax{font-size: 2vh; top: 12%;}
.s2mtitle{text-align: center; color: rgb(255, 255, 255); font-size: 27px; text-transform: uppercase; letter-spacing: -2px; margin-bottom: 50px;}
.s4XDR{font-size: 2.2vh;}
.s4 button{font-size: 2vh; bottom: 5%;}


.s3bg{display: none;}
.s3head{border-bottom: none;}
.s3mbg{position: absolute; bottom: 0; left: 0; margin-right: -137.5px; display: block; width: 50vh;}
.s3mbg2{display:block; position: absolute; bottom: 30%; right: 20%;}
.s3head{font-size: 2.4vh;}
.s3box{left: 3%; top: 20%;}
.s3box2{left: 13%; top: 20%;}
.s3box3{left: 23%; top: 20%;}
.s3box p{font-size: 1.9vh;}
.s3box2 p{font-size: 1.9vh;}
.s3box3 p{font-size: 1.9vh;}



.s2button{right: 140px; top: 700px;}
.s2button{font-size: 16px;}
.s2textbox{font-size: 2.5vh;}
.memotext{font-size: 35vw; letter-spacing: 0;}
.number{bottom: 30%;}
.memotext2{top: 25%;}
.memobg{width: 15vw; height: 25vw;}
.memobg2{width: 15vw; height: 25vw;}


.s5inner{width: 100%; padding-top: 100px;}
.s5inner video{display: none;}
.s5leftbox{display: none;}
.plusbox button{display: none;}
.flex{display: none;}
.s5mtitle{display: block; text-align: center; color: rgb(0, 0, 0); font-size: 27px; text-transform: uppercase; letter-spacing: -2px; margin-bottom: 70px;}
.s5mtitle2{display:block; font-size: 12px; margin: 0 20px; color: gray; font-weight: 300; position: absolute; bottom: 20px;}
.s5mobile{display: block; margin: 0 auto; width: 500px;}
.s5m{display: block;}
.basic2{height: 180px; padding-left: 25%;}
.box1 div{font-size: 25px; font-weight: 600; margin-bottom: 10px;}
.box1 p{font-size: 15px;}


.memotext{ font-size: 50vw; font-weight: bolder;}
.memotext2{font-size: 4vw; font-weight: 400; color: gray;}
.number{bottom: 25%; font-size: 3vw; font-weight: 500; color: gray;}
.memo video{display: none;}
.memobg::before, .memobg::after{display: none;}


.s6bg{display: none;}


.swiper-pagination-bullet{width: 15px;}
.swiper-pagination-bullet-active{width: 20px;}


