body video{display: none;}

.head{background-color:rgba(0, 0, 0, 0.6); align-items:flex-start; height: auto; min-height: 50px; border-bottom: solid rgb(109, 109, 109) 1px;}
.head button{display: block; position: absolute; right: 10px; top: 7px; background: none; border: none; color: rgb(184, 184, 184);}
.mheadtitle{display: block; position: absolute; width: 90px; left: 10px; top: 11px;}
.mheadtitle a{color: rgb(163, 163, 163); font-size: 13px;}
.mnav{display: block; position: relative; padding: 0 0 100px;  top: 50px; width: 100%; z-index: 10; border-top: solid gray 1px;}
.mmenu{display: flex; flex-direction: column; width: 80%; margin: 0 auto; margin-top: 20px;}
.mmenu a{color: white; height: 40px; line-height: 40px; border-bottom: solid gray 1px;}
.head span{font-size: 32px;}
.headinner{display: none;}
.logo{display: block; position:absolute; top: 12px; left: 50%; transform: translateX(-50%); width: 20px; height: 22px;}