@charset "utf-8"; 
*{font-family: 'Black Han Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;}
.bold {font-weight: bold;}
.color {color: white;}
.back {background:url(../img/CS/bgr.png); background-repeat: no-repeat; background-size: cover;
width: 100%; height: 200px; position:absolute;}
.bold2 {font-weight:bolder;}
.row {display: flex;}
.inner2 {width: 1000px; margin: 0 auto; position: relative;}
.inner3 {width: 1080px; margin: 0 auto;}
.mz{margin-top: 50px;}
.mz2{margin-top: 25px;}
#a1{font-size: 13px;}
#a2{font-size: 13px;}
#a3{font-size: 13px;}
.test{color:red}