@charset "utf-8"; 
*{color: black;}
p{color: black;}
#a1{color: rgb(196, 5, 132);}
#a2{color: aquamarine;}
#a3{font-size: 25px;}
#a4{font-size: 25px;}
#a5{font-size: 25px;}
.s1{color: rgb(2, 149, 235);}
.s2{color: rgb(190, 255, 37);}
.s3{font-weight: bold;}
.s4{font-size: 30px;}
.s5{font-size: 50px;}
h1{font-size: 80px; text-align: center;}
.txtbox{margin: 70px 70px 0 70px;}
section{margin: 60px 0 0 0; display: flex;}
.inner {width: 1200px; margin: 0 auto;}

/* @media all and (max-width: 1199px){
h1{color: red; text-align: center;}
section{display: flex; flex-direction: column; justify-content: center; align-items: center;}





} */