/* *{outline: solid gray 1px;} */

/* head */
.head{display: flex; justify-content: space-between;}
#header > .inner{padding: 20px 0;}
.inner{overflow: hidden; width: 1200px; margin: 0 auto;}
#header .eng li{height: 35px; line-height: 35px; border-radius: 20px; background: rgb(245, 245, 245);}
#header .eng li a{padding: 0 17px; font-weight: 500; font-size: 14px;}
#search{width: 250px; height: 35px; border: none; border-radius: 20px; background: rgb(245, 245, 245);}


/* nav */
.gnb_wrap{position: relative; height: 55px; border-top: solid 1px #e3e6e9; border-bottom: solid 1px #e3e6e9; box-shadow: 5px 2px 2px rgb(173 189 201 / 14%); z-index: 15;}
#gnb > .sitemap{float: left; width: 55px; height: 55px; padding-top: 12px; border-right: 1px solid #e3e6e9; border-left: 1px solid #e3e6e9; box-sizing: border-box;}
#gnb .sitemap a{overflow: hidden; display: block; width: 30px; height: 30px; margin: 0 auto; text-indent: -9999px; background: url(../img/icon_base.gif) -30px 0;}
#gnb .sitemap a:hover{background: url(../img/icon_base.gif) -30px -30px;}
#gnb > ul{display: flex; height: 55px; line-height: 55px;}
#gnb > ul > li{display: inline-block; width: 20%; height: 55px; font-size: 15px; font-weight: 600; text-align: center; box-sizing: border-box;}
#gnb > ul > li:hover{color: rgb(21, 150, 255); border-bottom: solid 3px rgb(21, 150, 255);}
#gnb > ul > li > div{display: none; position: absolute; top: 55px; left: 0; width: 100%; background: white; box-shadow: 5px 2px 2px rgb(173 189 201 / 14%); z-index: 3;}
#gnb > ul > li:hover div{display: block;}

.gnb2{display: flex; overflow: hidden; flex-wrap: wrap; width: 1200px; height: 100%; margin: 0 auto; border-left: solid 1px #e3e6e9; border-right: solid 1px #e3e6e9;}
.gnb2 > li{position: relative; width: 20%; height: 300px; color: rgb(73, 75, 201); text-align: left; padding-left: 20px; border-right: solid 1px #e3e6e9; border-bottom: solid 1px #e3e6e9; box-sizing: border-box;}
.gnb2 > li::before{content: ""; display: inline-block; position: absolute; top: 50px; width: 200px; height: 1px; background: rgb(238, 238, 238);}
.gnb2 > li > ul{color: rgb(126, 126, 126); font-size: 13px; font-weight: 500; line-height: 25px;}

/* content */
#content{position: relative; width: 1200px; margin: 0 auto; padding: 10px 0;}
.cont_warp{display: flex; flex-wrap: wrap; justify-content: space-between;}
.left_warp{position: relative; width: 250px;}
h2{font-size: 18px; color: black;}
h3{font-size: 18px; color: black; font-weight: bolder;}
h4{font-size: 18px; color: black; font-weight: bold;}
.left1{width: 210px; background: rgb(245, 245, 245); padding: 20px; border-radius: 5px;}
.left1 ul > li{color: black; font-size: 14px; padding: 10px 0; border-bottom: solid 1px white;}
.pnt{color: rgb(21, 150, 255);}
.left1 ul > li:last-child{border-bottom: none;}
.left2{width: 210px; background: rgb(245, 245, 245); padding: 20px; border-radius: 5px; margin-top: 10px;}
.left2 ul > li{position: relative; color: black; font-size: 14px; padding: 10px 0; border-bottom: solid 1px white;}
.left2 ul > li::after{content: ""; position: absolute; top: 5px; right: 0; width: 25px; height: 25px; background: url(../img/icon_base.gif) 0 -145px;}
.left2 ul > li:last-child{border-bottom: none;}
.silde{width: 600px; background: aquamarine; border-radius: 5px;}
.right_warp{width: 320px; display: flex; flex-direction: column; justify-content: space-between; z-index: 3;}
.right1{height: 225px; padding: 20px; background-color: rgb(230, 244, 255); border-radius: 5px;}
.silde2{position: relative; width: 280px; height: 200px; margin: 0 auto; margin-top: 10px;}
.silde2text{position: relative; overflow: hidden; margin-top: 15px; text-overflow: ellipsis; letter-spacing: -2px; white-space: nowrap;}
.silde2text::before{content: ""; display: inline-block; width: 70px; height: 20px; margin-right: 10px; vertical-align: middle; background: url(../img/icon_base.gif) -90px 0;}
.silde2text::after{content: ""; position: absolute; left: 75px; top: 2px; width: 1px; height: 15px; background: rgb(134, 134, 134);}
.right2{display: flex; justify-content: center; align-items: center; height: 80px; background-color: rgb(238, 243, 255); border-radius: 5px;}
.right2 > div{overflow: hidden; width: 75px; height: 50px; text-indent: -9999px; background: url(../img/icon_base.gif) -90px -60px;}
.right2 > ul{display: flex;}
.right2 > ul > li a{overflow: hidden; display: inline-block; width: 36px; height: 36px; margin: 0 5px; text-indent: -9999px; background: url(../img/btn_sns_group.gif);}
.right2 > ul > li:nth-last-of-type(3) a{background: url(../img/btn_sns_group.gif) 0 36px;}
.right2 > ul > li:nth-last-of-type(2) a{background: url(../img/btn_sns_group.gif) 0 72px;}
.right2 > ul > li:nth-last-of-type(1) a{background: url(../img/btn_sns_group.gif) 0 108px;}
.swiper {width: 100%; height: 100%;}
.mySwiper img{width: 100%; height: 100%; border-radius: 5px;}
.mySwiper2 img{width: 100%;}
.swiper-slide{overflow: hidden;}
.page1{width: 100%; height: 100%; background-color: aliceblue;}
.swiper-button-next, .swiper-button-prev{background: white; width: 40px !important; height: 40px !important; border-radius: 50%; font-weight: bolder !important;}
.swiper-pagination{position: absolute; top: 10px;}
.swiper-pagination2{position: absolute; top: -32px; text-align: right; z-index: 5; height: 22px;}
.swiper-pagination-bullet{border: solid 2px rgb(3, 0, 153) !important; background: none !important;}
.swiper-pagination-bullet-active{background: rgb(3, 0, 153) !important;}
#pgbg{position: relative; background-color: #ffffff; width: 100px; top: -55px; right: -480px; height: 35px; border-radius: 20px; z-index: 5;}
:root{--swiper-navigation-size: 20px !important; --swiper-navigation-color:black;}
.silde2{position: relative; width: 280px; height: 200px; margin: 0 auto; margin-top: 10px;}

/* icon */
.icon{display: flex; justify-content: space-between; width: 100%;}
.icon li{position: relative; padding: 5px; text-align: center;}
.icon li::after{content: ""; position: absolute; top: 25px; right: -25px; width: 1px; height: 50px; background: #eaefff;}
.icon li:last-child::after{display: none;}
.icon > li > a::before{content: ""; display: block; width: 65px; height: 65px; margin: 0 auto; background: url(../img/idx_icon.gif); margin-bottom: 10px;}
.icon > li > a::after{content: ""; position: absolute; top: 10px; right: 0px; width: 8px; height: 8px; border-radius: 50%; background-color: rgb(251, 255, 0); z-index: 3; opacity: 0;}
.icon > li > a:hover::after{opacity: 1;}
.icon > li:nth-of-type(2) a::before{background-position-y: -75px;}
.icon > li:nth-of-type(3) a::before{background-position-y: -150px;}
.icon > li:nth-of-type(4) a::before{background-position-y: -225px;}
.icon > li:nth-of-type(5) a::before{background-position-y: -300px;}
.icon > li:nth-of-type(6) a::before{background-position-y: -375px; background-position-x: -5px;}
.icon > li:nth-of-type(7) a::before{background-position-y: -450px;}
.icon > li:nth-of-type(8) a::before{background-position-y: -525px;}
.icon > li:nth-of-type(9) a::before{background-position-y: -600px;}

/* contentbox */
.post_warp{display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 10px;}
.post_warp > .flex ul{width: 120px; text-align: center; overflow: hidden; font-size: 15px; font-weight: bold; background-color: rgb(238, 243, 255); border-radius: 5px 0 0 5px; border-top: solid 1px rgb(201, 201, 201); border-left: solid 1px rgb(201, 201, 201); border-bottom: solid 1px rgb(201, 201, 201);}
.post_warp > .flex ul li{padding: 15px; cursor: pointer;}
.post_warp > .flex ul li.on{background: rgb(42, 86, 189); color: white;}
.post_warp .conbox .box{position: relative; display: none; padding: 20px; width: 370px; height: 300px; border-radius: 0 5px 5px 0; border-top: solid 1px rgb(201, 201, 201); border-right: solid 1px rgb(201, 201, 201); border-bottom: solid 1px rgb(201, 201, 201);}
.post_warp .conbox .box.on{display: block;}
.post_warp .conbox .more a{position: absolute; top: 0; right: 0; width: 30px; height: 30px; background: url(../img/icon_base.gif) 0 -180px #eaefff; text-indent: -9999px;}
#box1{position: relative; margin-bottom: 40px;}
#box1 b{display: inline-block; width: 20px; height: 20px; margin-right: 8px; color: white; text-align: center; background: rgb(255, 105, 105);}
#box1 p{overflow: hidden; text-overflow: ellipsis; font-size: 13px; font-weight: bold; line-height: 1.4; white-space: nowrap; vertical-align: middle;}
#box1 p:nth-last-of-type(1){white-space: normal; line-height: 1.1; font-weight: 400; margin: 5px 0;}
#box1::after{content: ""; position: absolute; bottom: -20px; left: 0; width: 370px; height: 1px; background: rgb(226, 226, 226);}

#box2{display: block; width: 100%; font-size: 14px; font-weight: 500; margin-bottom: 20px;}
#box2 p::before{content: ""; display: inline-block; width: 4px; height: 4px; margin:0 10px 3px 0; background: black; border-radius: 50%;}
#box2 p{overflow: hidden; display: inline-block; width: calc(100% - 75px); vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; width: calc(100% - 75px)}

.post2{position: relative; display: block; width: 300px; height: 300px; padding: 20px; border: solid 1px rgb(201, 201, 201); border-radius: 5px;}
.post2 .more a{position: absolute; top: 0; right: 0; width: 30px; height: 30px; background: url(../img/icon_base.gif) 0 -180px #eaefff; text-indent: -9999px;}
.post2 > ul{overflow-y: auto; height: 250px; margin-top: 30px; font-size: 14px; font-weight: 500;}
.post2 > ul > li{border-bottom: solid 1px rgb(226, 226, 226);}
.post2 > ul > li > a{overflow: hidden; display: -webkit-box; font-size: 13.5px; line-height: 18px; margin:13px 0; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.post2 > ul > li:nth-of-type(1) a{margin: 0 0 13px 0;}


.post3{display: block; width: 260px; height: 300px; padding: 20px; border: solid 1px rgb(201, 201, 201); border-radius: 5px;}
.post3 > ul{display: flex; flex-wrap: wrap; font-size: 13px; font-weight: bold; width: 100%; margin-top: 20px; text-align: center;}
.post3 > ul > li{margin: 7px 7px 7px 7px; letter-spacing: -3px;}
.post3 > ul > li > a::before{content: ""; display: block; margin: 0 auto; margin-bottom: 10px; width: 70px; height: 70px; border-radius: 50%; background: url(../img/icon_base.gif) -212px 0 rgb(240, 244, 255);}
.post3 > ul > li > a:hover::before{background: url(../img/icon_base.gif) -212px 0 rgb(42, 86, 189);}
.post3 > ul > li:nth-of-type(2) > a::before{background-position-y: -70px;}
.post3 > ul > li:nth-of-type(3) > a::before{background-position-y: -140px;}
.post3 > ul > li:nth-of-type(4) > a::before{background-position-y: -210px;}
.post3 > ul > li:nth-of-type(5) > a::before{background-position-y: -300px;}




#postpic{overflow: hidden; width: 100%; height: 70px; margin: 15px 0 0 0;}

/* footer */
.quick{width: 100%; height: 50px; background: rgb(224, 224, 224); line-height: 50px;}


.road{width: 100%; height: 40px; background: rgb(98, 111, 141);}
.road ul{display: flex; line-height: 40px; font-size: 12px; font-weight: bold; letter-spacing: -2px;}
.road ul li{margin-right: 15px; color: white;}
.road ul li:nth-of-type(2){color: rgb(57, 255, 255);}
.road ul li::after{content: ""; display: inline-block; width: 1px; height: 15px; vertical-align: middle; background: rgb(179, 179, 179); margin-left: 15px;}
.road ul li:last-child::after{display: none;}
.footbox{width: 100%; height: 110px; background: #f1f1f1;}

















